.team-list {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vw;
    width: 50%;
}
.team-list__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
}